rx-flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8bf495c6.15e2c8","type":"inject","z":"f6f2187d.f17ca8","name":"RADIO RX ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":360,"y":200,"wires":[["53afa3e2.a2cd2c","e870fec0.696ca"]]},{"id":"49e662de.58417c","type":"inject","z":"f6f2187d.f17ca8","name":"RADIO RX OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":370,"y":300,"wires":[["53afa3e2.a2cd2c","e870fec0.696ca"]]},{"id":"e870fec0.696ca","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":320,"wires":[]},{"id":"53afa3e2.a2cd2c","type":"pi-gpiod out","z":"f6f2187d.f17ca8","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":670,"y":220,"wires":[]},{"id":"65cfc3ef.0a56fc","type":"serial in","z":"f6f2187d.f17ca8","name":"","serial":"c6f4f24e.e0321","x":380,"y":420,"wires":[["e870fec0.696ca"]]},{"id":"c6f4f24e.e0321","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]