rx-flows.json
[{"id":"5944365d.fd4038","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd5b1e0d.0d5e7","type":"inject","z":"5944365d.fd4038","name":"RADIO RX ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":360,"y":200,"wires":[["bb8ab790.ffe3b8","324731e.159e8ce"]]},{"id":"70f34a5e.f3f254","type":"inject","z":"5944365d.fd4038","name":"RADIO RX OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":370,"y":300,"wires":[["bb8ab790.ffe3b8","324731e.159e8ce"]]},{"id":"324731e.159e8ce","type":"debug","z":"5944365d.fd4038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":320,"wires":[]},{"id":"bb8ab790.ffe3b8","type":"pi-gpiod out","z":"5944365d.fd4038","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":670,"y":220,"wires":[]},{"id":"813fe151.9a063","type":"serial in","z":"5944365d.fd4038","name":"","serial":"a29a095c.eec288","x":310,"y":500,"wires":[["324731e.159e8ce","a269364.e84e4c8"]]},{"id":"6654f6bb.0f4008","type":"debug","z":"5944365d.fd4038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":500,"wires":[]},{"id":"a269364.e84e4c8","type":"function","z":"5944365d.fd4038","name":"","func":"//Dato que llega del arduino es \"{\"temp\":10}\\n\"\n\nlet newMSG = String(msg.payload).slice(0, -2) // Elimina \\n y ultimo \"\nnewMSG.substring(1) // remueve primer \"\n//node.warn(newMSG );\nreturn {\"payload\":JSON.parse(newMSG)};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":580,"wires":[["6654f6bb.0f4008","5915c38c.ac979c","311bdb5d.1586f4"]]},{"id":"9531c9f2.f20258","type":"ui_gauge","z":"5944365d.fd4038","name":"","group":"d736da09.8e1978","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":"10","max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":760,"wires":[]},{"id":"5915c38c.ac979c","type":"function","z":"5944365d.fd4038","name":"","func":"//funcion solo devuelve valor del json temp\nreturn {\"payload\": msg.payload.temp};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":680,"wires":[["9531c9f2.f20258","c62d0614.4ca7c8"]]},{"id":"c62d0614.4ca7c8","type":"debug","z":"5944365d.fd4038","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":640,"wires":[]},{"id":"311bdb5d.1586f4","type":"influxdb out","z":"5944365d.fd4038","influxdb":"153c086c.4ebd28","name":"","measurement":"nodo-1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"my-org","bucket":"metrics","x":750,"y":400,"wires":[]},{"id":"a29a095c.eec288","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d736da09.8e1978","type":"ui_group","name":"Default","tab":"6d97e70.453c318","order":1,"disp":true,"width":"6","collapse":false},{"id":"153c086c.4ebd28","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influx","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"6d97e70.453c318","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
