rx-flows.json
[{"id":"c3951151.ee2de","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"efbf86d.15c5b78","type":"inject","z":"c3951151.ee2de","name":"RADIO RX ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":300,"y":260,"wires":[["c8e862ca.c9644","81de7f47.34181","f6f4a3d2.2d9d"]]},{"id":"2c7f6d2c.396bf2","type":"inject","z":"c3951151.ee2de","name":"RADIO RX OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":320,"y":340,"wires":[["c8e862ca.c9644","81de7f47.34181"]]},{"id":"81de7f47.34181","type":"debug","z":"c3951151.ee2de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":320,"wires":[]},{"id":"c8e862ca.c9644","type":"pi-gpiod out","z":"c3951151.ee2de","name":"","host":"localhost","port":8888,"pin":"23","set":true,"level":"1","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":670,"y":218,"wires":[]},{"id":"d8a6e123.49092","type":"serial in","z":"c3951151.ee2de","name":"","serial":"32bd9764.1cc0f8","x":330,"y":460,"wires":[["81de7f47.34181","bd695b52.236508"]]},{"id":"cd3fd7bb.1578a8","type":"debug","z":"c3951151.ee2de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":500,"wires":[]},{"id":"bd695b52.236508","type":"function","z":"c3951151.ee2de","name":"","func":"//Dato que llega del arduino es \"{\"temp\":10}\\n\"\n\nlet newMSG = String(msg.payload).slice(0, -2) // Elimina \\n y ultimo \"\nnewMSG.substring(1) // remueve primer \"\n//node.warn(newMSG );\nreturn {\"payload\":JSON.parse(newMSG)};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":580,"wires":[["cd3fd7bb.1578a8","15ac8e82.2c9421","a736bb8b.9893e8","55fc427e.5a705c"]]},{"id":"e864df30.7c72d","type":"ui_gauge","z":"c3951151.ee2de","name":"","group":"8fdfb8fe.5eace8","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":"10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":700,"wires":[]},{"id":"15ac8e82.2c9421","type":"function","z":"c3951151.ee2de","name":"","func":"//funcion solo devuelve valor del json temp\nreturn {\"payload\": msg.payload.temp};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":680,"wires":[["e864df30.7c72d","7705e116.2496a"]]},{"id":"7705e116.2496a","type":"debug","z":"c3951151.ee2de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":640,"wires":[]},{"id":"a736bb8b.9893e8","type":"influxdb out","z":"c3951151.ee2de","influxdb":"153c086c.4ebd28","name":"","measurement":"nodo-1","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"my-org","bucket":"metrics","x":750,"y":400,"wires":[]},{"id":"6849a571.8ce60c","type":"pi-gpiod out","z":"c3951151.ee2de","name":"","host":"localhost","port":8888,"pin":"24","set":true,"level":"1","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":800,"y":140,"wires":[]},{"id":"bf80a8e2.4022c8","type":"inject","z":"c3951151.ee2de","name":"Reset Arduino","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":390,"y":20,"wires":[["6849a571.8ce60c","f0423b2.8b87ac8"]]},{"id":"f0423b2.8b87ac8","type":"delay","z":"c3951151.ee2de","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":360,"y":80,"wires":[["10e2c741.bb45d9"]]},{"id":"10e2c741.bb45d9","type":"trigger","z":"c3951151.ee2de","name":"","op1":"1","op2":"1","op1type":"num","op2type":"num","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":120,"wires":[["6849a571.8ce60c"]]},{"id":"f6f4a3d2.2d9d","type":"trigger","z":"c3951151.ee2de","name":"","op1":"0","op2":"0","op1type":"str","op2type":"str","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":340,"y":180,"wires":[["6849a571.8ce60c","f0423b2.8b87ac8"]]},{"id":"5935c350.8a8e5c","type":"ui_gauge","z":"c3951151.ee2de","name":"","group":"8fdfb8fe.5eace8","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":"10","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":800,"y":820,"wires":[]},{"id":"55fc427e.5a705c","type":"function","z":"c3951151.ee2de","name":"","func":"//funcion solo devuelve valor del json temp\nreturn {\"payload\": msg.payload.hum};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":800,"wires":[["5935c350.8a8e5c","d4300bb2.1ee9d8"]]},{"id":"d4300bb2.1ee9d8","type":"debug","z":"c3951151.ee2de","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":760,"wires":[]},{"id":"32bd9764.1cc0f8","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"7","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"8fdfb8fe.5eace8","type":"ui_group","name":"Default","tab":"b7363c14.f163f","order":1,"disp":true,"width":"6","collapse":false},{"id":"153c086c.4ebd28","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"influx","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"b7363c14.f163f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
