tx-flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"14abdb62.cc3805","type":"inject","z":"f6f2187d.f17ca8","name":"RADIO ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":330,"y":160,"wires":[["ec0aa041.3fd87","1b0d9d9.3d5ff62"]]},{"id":"f904fc3c.3b912","type":"inject","z":"f6f2187d.f17ca8","name":"RADIO OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":380,"y":280,"wires":[["ec0aa041.3fd87","1b0d9d9.3d5ff62"]]},{"id":"1b0d9d9.3d5ff62","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":280,"wires":[]},{"id":"ec0aa041.3fd87","type":"pi-gpiod out","z":"f6f2187d.f17ca8","name":"","host":"localhost","port":8888,"pin":"23","set":"","level":"0","out":"out","sermin":"1000","sermax":"2000","freq":"800","x":690,"y":160,"wires":[]},{"id":"a37f1b29.0c6438","type":"serial in","z":"f6f2187d.f17ca8","name":"SERIAL TX","serial":"416e1dc7.5f67a4","x":350,"y":380,"wires":[["1b0d9d9.3d5ff62"]]},{"id":"416e1dc7.5f67a4","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]